<!-- 1col_image: Perfect for a header image -->
{% assign dimensions = image_width | append: 'x150' %}
				<tr>
					<td class="header-image">{{ dimensions | placeholder | image_tag:"aaaa" }}</td>
				</tr>