					<td style="{{global.font.footer}};color:{{global.colors.outside-txt}};padding:10px 0 0 0px">&copy; 2013 All Rights reserved<br>You received this email because you are part of our mailing list. To unsubscribe, <a href='[[=Message.Optout("en-CA");]]' target="_blank" style="color:{{global.colors.outside-link}};font-weight:bold;">click here</a>.
									<br />
									Sent by {{global.clientname}}<br /><br></td>