					<td style="{{global.font.footer}};color:{{global.colors.outside-txt}};padding:10px 0 0 0px">&copy; 2013 Tous droits réservés<br>Vous recevez ce courriel, car vous vous êtes inscrit à notre liste de diffusion. Pour vous désabonner, <a href='[[=Message.Optout("fr-CA");]]' target="_blank" style="color:{{global.colors.outside-link}};font-weight:bold;">cliquez ici</a>.
									<br />
									Envoyé par {{global.clientname}}<br /><br></td>